<nav class="navbar"  style="background-color: #04504c;">
  <div class="container-fluid">
    <a class="navbar-brand" >
      <h5 class="h5">SEU PERFIL</h5>
    </a>
  </div>
</nav>

<h3 class="h3">INFORMAÇÕES PESSOAIS:</h3>

<div class="card">
  <div class="card-body ">
    <ul class="list-group list-group-flush">
    <li class="list-group-item "> NOME:<b>MIGUEL JOSE ALBANO DA SILVA</b> </li>
    <li class="list-group-item ">EMAIL:<b>MIGUE</b> </li>
    <li class="list-group-item">CPF:<b>48</b></li>
    <li class="list-group-item">ENDEREÇO:<b>RUA </b> </li>
    <li class="list-group-item">NUMERAL:<b>1480</b></li>
    <li class="list-group-item">BAIRRO:<b>SÃO</b> </li>
    <li class="list-group-item">CIDADE:<b>LENÇÓIS PAULISTA</b> </li>
    <li class="list-group-item">TELEFONE:<b>(14)998</b></li>
    <li class="list-group-item">DATA NASCIMENTO:<b>25</b></li>
    <li class="list-group-item">GÊNERO:<b>MASCULINO</b></li>
    <li class="list-group-item">SENHA:<b>NEYMAR10</b></li>
  </ul>
  </div>
</div>
<br>

<h3 class="h3">INFORMAÇÕES CONSULTA:</h3>
<div class="card">
  <div class="card-body ">
    <ul class="list-group list-group-flush">
    <li class="list-group-item ">DATA CONSULTA:<b>31/08/2022</b></li>
    <li class="list-group-item ">HORÁRIO:<b>13:00</b></li>
    <li class="list-group-item">ESPECIALISTA:<b>MILENA DE OLIVEIRA LIMA DE SOUZA</b></li>
    <li class="list-group-item">ESPECIALIDADE:<b>PILATES</b> </li>
  </ul>
  </div>
</div>

<a routerLink="/consultas">
  <button type="button" class="btn btn-warning btn-lg">Marcar consulta</button>
</a>







