.h5{
  font-family: Arial, Helvetica, sans-serif;
  color:#ffc107;
  }

  .navbar{
    margin-top: 2%;

  }

  .h3{
    margin-top: 2%;
  }

  .card{
    margin-bottom: 3%;
  }

  .btn{
    margin-bottom: 2%;
  }
