
<h3 class="h3">Marque sua consulta</h3>


<form class="forms">
<select class="form-select" aria-label="Default select example">
  <option selected>Selecione uma especialidade</option>
  <option value="1">Rpg</option>
  <option value="2">Fisioterapia</option>
  <option value="3">Pilates</option>
  <option value="4">Osteopatia</option>
  <option value="5">Quiropraxia</option>
  <option value="6">Acumpura</option>
  <option value="7">Nutrição</option>
</select>

<div class="form-group">
  <label>Escolha o dia da consulta</label>
  <input class="form-control" type="date" name="data-consulta" id="data-consulta" placeholder="escolha a data da consulta">
</div>

<div class="form-group">
  <label>Hora da consulta</label>
  <input class="form-control" type="time" name="hora-consulta" id="hora-consulta" placeholder="escolha um horário ">
</div>

<div class="form-group">
  <label>Digite a especilista</label>
  <input class="form-control" type="text" name="especialista" id="especialista" placeholder="Digite a especialista">
</div>
<div id="ajuda" class="form-text">Milena: Rpg,fisioterapia,pilates,quiropraxia,acumputura,osteopatia.</div>
<div id="ajuda" class="form-text">Elaine: Nutrição.</div>


<div >
  <button type="button" class="btn btn-warning">Salvar</button>
  </div>
</form>

